{%if form.ValidationError %}
<p>Somethingv is wrong</p>
{%endif%}
{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<h1>{{ title }}</h1>
<form method="POST" action="">{% csrf_token %} 
	<div class="form-group input-group">
		<label for="username">Username</label>
	<dd>{{form.fullname}}</dd>
</div>
	<div class="form-group">
		<label for="Password">Password</label>
	<dd>{{form.password}}</dd>
</div>	

<input type="submit" value ="Submit">
</form>
</body>
</html>
