{%load staticfiles%}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Home</title>
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    {% if user.is_authenticated %}
    <p>hello</p>
    <p>welcome {{ user.username }}</p>
    <p><a href="/add">Add</a></p>
<!--     <p><a href="/delete">Delete</a></p>
 -->    <p><a href="/show">Show Leaderboard</a></p>
    {% else %}
    <p><a href="/show">Show Leaderboard</a></p>
    {% endif %}
</body>

</html>